
ul{
    list-style-type:none;
    text-align: right;
}
li{
    display: inline;
    padding: 15px;
    font-style: oblique;
    font-size: 120%;
}
.Girl{
    margin-top: 50px;
    padding-left: 50%;   
}

.wade{
    font-style: italic;
    font-size: 100px;
    margin-top: -30%;
}
.About{
    margin-top: 10%;
    text-align: center;
    text-shadow: lightcyan;
}
.About h2{
    text-align:center ;
    font-size: 40px;
    font-style: oblique;
    
}