body{
    background-color:powderblue;
}

ul li a{
    text-decoration: none;
    font-size:25px;


}

ul{
    text-align: right;

}
li{
    display: inline;
    padding: 15px;
    font-style: oblique;
    font-size: 120%;
}
.Girl{
    margin-top: 50px;
    /* padding-left: 50%;    */
}
#Section1{
    display: flex;
    flex-direction: row-reverse;
    
}
.wade{
    font-style: italic;
    width: 400px;
    /* margin-top: -30%; */
    display: flex;
    flex-direction: column;
    text-align:center;
    font-size: 30px;
    justify-content: center;
    padding-right: 20%;
}

#About{
    margin-top: 10%;
    display: flex;
    text-align: center;
    flex-direction:column ;
    font-style: oblique;
    font-size: 30px;

}
#Projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 100px;
    font-style:oblique;
}

#Projects ol{
    display: flex;
    flex-direction:row;
    width: 400px;
}

#Projects ol div{
    padding: 20px;
    font-size: 15px;
}

#Projects p{
    font-size: 20px;
}
